.tony.taiwan_pic {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 2rem;
}
.tony #pin {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  font-size: 30px;
  color: #4c75aa;
  animation: tt 1s infinite;
}
.fa-cloud-rain,
.fa-cloud,
.fa-sun {
  color: #585b61;
  filter: drop-shadow(2px 4px 4px #00000042);
}

@keyframes tt {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.tony #time_period {
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border: none;
}
.tony #img_block {
  position: relative;
  margin-left: 20px;
}
.tony #img_block img {
  width: 400px;
  height: 100%;
}
.tony .loc_area {
  font-size: 12px;
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.tony .loc_area:hover::before {
  content: attr(data-des);
  font-size: 12px;
  background-color: hsla(0, 0%, 100%, 0.8);
  word-break: keep-all;
  width: 12rem;
  height: auto;
  position: absolute;
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
  top: 0;
  left: 0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.103);
}
@media (max-width: 500px) {
  .tony.taiwan_pic {
    transform: scale(0.8);
    padding: 0;
  }
}

.tony .loc_area i::before {
  z-index: 4;
}
.基隆市 {
  top: 30px;
  left: 350px;
}
.新北市 {
  top: 50px;
  left: 300px;
}
.臺北市 {
  top: 70px;
  left: 330px;
}
.桃園市 {
  top: 50px;
  left: 250px;
}
.新竹縣 {
  top: 80px;
  left: 200px;
}
.新竹市 {
  top: 100px;
  left: 250px;
}
.苗栗縣 {
  top: 130px;
  left: 200px;
}
.臺中市 {
  top: 180px;
  left: 200px;
}
.彰化縣 {
  top: 220px;
  left: 150px;
}
.雲林縣 {
  top: 260px;
  left: 100px;
}
.嘉義縣 {
  top: 310px;
  left: 100px;
}
.嘉義市 {
  top: 290px;
  left: 150px;
}
.臺南市 {
  top: 330px;
  left: 150px;
}
.高雄市 {
  top: 400px;
  left: 150px;
}
.屏東縣 {
  top: 450px;
  left: 200px;
}
.臺東縣 {
  top: 400px;
  left: 250px;
}
.花蓮縣 {
  top: 200px;
  left: 300px;
}
.宜蘭縣 {
  top: 130px;
  left: 330px;
}
.南投縣 {
  top: 250px;
  left: 230px;
}
.金門縣 {
  top: 100px;
  left: 20px;
}
.連江縣 {
  top: 10px;
  left: 20px;
}
.澎湖縣 {
  top: 250px;
  left: 10px;
}
