*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #2f333a;
}
