*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}
