.weather-forecast-container {
  min-height: 40rem;
  width: 50rem;
  padding: 1rem;
  padding-left: 4rem;
  /* line-height: 1.5; */
  text-align: left;
}
/* .weather-forecast-container > h2 {
  margin-bottom: 1rem;
} */
.weather-forecast {
  margin-top: 1rem;
  background-color: rgb(245, 245, 245);
  min-height: 30rem;
  width: 30rem;
  padding: 5rem;
  text-align: center;
  border-radius: 10px;
}
.weather-forecast > .block {
  margin-bottom: 1rem;
}
.weather-forecast > .block > p,
.weather-forecast > .block > h4 {
  display: inline;
}
.weather-forecast > .block > img {
  width: 20rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.weather-forecast > .flex {
  margin: 1rem auto;
  display: flex;
  width: 18rem;
  justify-content: space-between;
}
